
.BannerContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 170, 228, 0.3);
    background-blend-mode: multiply;
    background-size: cover;
    height: calc(100vh - 20vh);
}


.BannerButton{
    background-color: var(--primary);
    width: 20rem;
    color: whitesmoke;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2); 
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    padding: 2rem 1.5rem;
}

.BannerButton:hover {
    background-color: rgba(0, 170, 228)
}

.arrowDown{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-block: 5vh;
    font-size: x-large;
    color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    margin-inline: auto;
}

.parpadear{
    animation: parpadeo 1s infinite alternate;
}

@media (max-width: 768px) {
    .BannerButton{
        font-size: large;
        padding: 1rem 0.75rem;
    }

    .BannerContainer{
        height: calc(65vh);
        margin-bottom: 5vh;
    }

    .arrowDown{
        display: flex;
    }
    
}
  

/* Añadir la animación parpadeo */
@keyframes parpadeo {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0.2;
    }
  }
  
  .parpadear {
    animation: parpadeo 2s infinite alternate;
  }
  