.confirmar-hora-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cita-details{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
    background-color: var(--tertiary);
    border: 1px solid var(--primary);
    padding: 2rem 4rem;
}

.cita-details p {
    font-size: 16px;
    margin: 5px 0;
}

.actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
