.citasContainer {
    background-color: rgb(236, 236, 236);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
}

.citasCard {
    width: 60rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem; 
    gap: 1.75rem;
}

.citasCardTitle{
    font-size: large;
    font-weight: 600;
    color: var(--secondary);
    padding-top: 1rem;
    padding-bottom: 2rem;
    padding-inline: 0rem;
    text-align: center; 
}

.formNavigationContainer{
    width: 40rem;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-block: 1.5rem;

}

.citasCardButton{
    padding: 1rem;
    border: none;
    background-color: var(--primary);
    color: white;
    font-weight: 600;
    font-size: medium; 
    cursor: pointer;
    width: 10rem;
}

.citasCardButtonBack{
    padding: 1rem;
    border: none;
    background-color: rgb(143, 141, 141);
    color: white;
    font-weight: 600;
    font-size: medium; 
    cursor: pointer;
    width: 10rem;
}
.citasCardButtonBack:hover{
    background-color: rgb(31, 31, 31);
}

.citasCardButton:disabled {
    background-color: #ccc; 
    color: #999; 
    cursor: not-allowed;
  }

  .citasCardButton:hover:enabled {
    background-color: #375daf;
  }
  

  @media (max-width: 1200px) {

    .citasCard {
        width: 50rem;
    }

}

@media (max-width: 998px) {

    .citasCard {
        width: 40rem;
    }

}

@media (max-width: 768px) {
    .citasCard {
        width: 30rem;
    }
    .formNavigationContainer{
        width: 20rem;
    }

}

@media (max-width: 500px) { 
    .citasCard {
        width: 25rem;
    }
    .formNavigationContainer{
        width: 20rem;
    }

}

@media (max-width: 450px) { 
    .citasCard {
        width: 18rem;
    }
    .formNavigationContainer{
        width: 18rem;
    }

    .citasContainer {
        padding: 3rem;
    }
    .citasCardButton{
        width: 8rem;
        padding: 0.75rem; 
    }
    .citasCardTitle{
        font-size: small;
    }
    


}