.mainInfoContainer{
  padding: 1rem;
}
.mainInfoTitle {
    text-align: center;
    color: var(--primary);
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.05rem;
  }
  
  .mainInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3rem;
    gap: 2rem;
  }
  
  .mainInfoCard {
    flex: 1;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .mainInfoCard:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .mainInfoIcon {
    width: 8rem;
    height: 8rem;
    margin-bottom: 1.5rem;
  }
  
  .mainInfoCard h3 {
    font-size: 1.5rem;
    color: var(--secondary);
    margin-bottom: 1rem;
  }
  
  .mainInfoCard p {
    font-size: 1rem;
    color: #555;
    line-height: 1.5;
    text-align: justify;
  }


  @media (max-width: 998px) {
    .mainInfoContainer{
      padding-bottom: 0rem;
      padding: 1rem;
    }

    .mainInfoTitle {
      font-size: 1.5rem;
      margin-block: 1rem;
    }

    .mainInfo {
      flex-direction: column;
      padding: 2rem;
    }

    .mainInfoCard h3 {
      font-size: 1.2rem;
    }

    .mainInfoCard p {
      font-size: 0.9rem;

   
    }
  

}
  

  